/* Select Styles */
.dropdown-label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--text-secondary);
}

.dropdown-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.form-dropdown-control {
  width: 100%;
  padding: 0.75rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: var(--white-color);
  outline: none;
  appearance: none;
  -webkit-appearance: none;

  cursor: pointer;
  transition: border-color 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
}

.form-dropdown-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px var(--input-focus-color);
}

.form-dropdown-error {
  border: 1px solid var(--error-color);
  box-shadow: 0 0 0 4px var(--input-error-color);
}

.form-dropdown-normal {
  border: 1px solid var(--border-color);
  box-shadow: none;
}

.dropdown-chevron {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-error-msg {
  display: block;
  font-size: 0.75rem;
  color: var(--error-color);
  margin-top: 0.25rem;
  font-weight: 500;
}